<template>
  <div class="home">

  </div>
</template>

<script>
// @ is an alias to /src
import * as THREE from 'three';

export default {
  name: 'HomeView',
  data(){
    return{}
  },
  methods:{
    init(){
      console.log(THREE)
      const width=document.querySelector(".home").scrollWidth;
      const height=document.querySelector(".home").scrollHeight;
      console.log(width,height)
      const scene = new THREE.Scene(); //创建一个场景

      /**
       * fov — 摄像机视锥体垂直视野角度
       * aspect — 摄像机视锥体长宽比
       * near — 摄像机视锥体近端面
       * far — 摄像机视锥体远端面
       * */
      const camera = new THREE.PerspectiveCamera( 75, width / height, 0.1, 1000 ); //创建透视相机

      camera.position.set(0,0,10)
      scene.add( camera );
      const renderer = new THREE.WebGLRenderer();
      renderer.setSize( window.innerWidth, window.innerHeight );
      document.body.appendChild( renderer.domElement );
    },

  },

  mounted(){
    this.init()
  }

}
</script>
<style lang="scss" scoped>
.home{
  width: 100%;
  height: 800px;
}
</style>
